# Ignoruj katalog node_modules we wszystkich podfolderach
node_modules/

# Ignoruj pliki logów
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignoruj katalogy build
dist/
build/

# Ignoruj pliki systemowe i IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
